<div class="carouselBox">
  <ul>
    <li *ngFor="let item of carouselData">
      <div class="carousel-content">
        <div class="carousel-font">
          <p class="carousel-title">{{item.title}}</p>
          <p class="carousel-detail">{{item.content}}</p>
        </div>
        <img [src]="item.image" alt="">
      </div>
      <p class="carousel-url" (click)="clickCarousel()">{{item.url}}</p>
    </li>
  </ul>
  <div class="playBtn">
    <h2 class="leftBtn" (click)="left()">
      <<</h2> <h2 class="rightBtn" (click)="right()">>>
    </h2>
  </div>
</div>
