<div class="usernameBox">
  <ul>
    <li *ngFor="let item of users;let key = index;trackBy:trackByFn">
      NO{{key+1}}. {{item.username}}
      <input type="text" [(ngModel)]="users[key].username">
    </li>
  </ul>
  <input type="text" placeholder="username" [(ngModel)]="addUsername">
  <input type="password" placeholder="password" [(ngModel)]="addPassword">
  <button class="addBtn" (click)="add()">add</button>
  <input type="text" placeholder="username" [(ngModel)]="searchUser">
  <button class="searchBtn" (click)="search(this.searchUser)">search</button>
</div>
